@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl sm:text-3xl font-bold;
  }
  h2 {
    @apply text-xl sm:text-2xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
}

::-webkit-scrollbar {
  @apply w-[15px];
}

::-webkit-scrollbar-track {
  @apply bg-green-200;
}

::-webkit-scrollbar-thumb {
  @apply rounded-e-2xl bg-green-800 hover:bg-green-header;
}

.container {
  @apply mx-auto;
}

header a.active,
footer a.active {
  @apply text-green-header;
}

header a.active::before,
footer a.active::before {
  @apply w-full;
}

.landing-page {
  background: url("./assets/landing.jpg");
  background-position: center;
  background-size: cover;
}

.land-item {
  -webkit-clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

.all-sorahs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
}

.square {
  clip-path: polygon(
    0 20%,
    20% 0,
    80% 0,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0 80%
  );
  display: inline-flex;
  justify-content: center;
  height: 30px;
  line-height: 1.6;
  color: white;
  width: fit-content;
  padding: 2px 8px;
  background-color: #004d40;
}

.sorah-number {
  background-image: url("./assets/aya-numbers.png");
  background-position: center;
  background-size: cover;
  display: inline-flex;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin: 0 6px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.8;
}

.save-span {
  border-width: 15px;
  border-color: rgba(220, 252, 231, 1) transparent transparent transparent;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.close {
  font-family: Tahoma, Arial;
}

.main-select {
  @apply border border-green-header py-[2px] px-[7px] sm:text-lg rounded-md transition-all duration-300 outline-none;
}

.pray-time-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 30px;
}

tr,
td {
  @apply border border-[#ccc] p-3;
}
